In [1]:
import pandas as pd
import numpy as np
# Read the data from a csv into a dataframe
coviddata = pd.read_csv('coviddata.csv', index_col=0)

,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,Case Rate per 100000 in Last 7 Days,Death Rate per 100K in Last 7 Days
State/Territory,,,,,,,,,,,,
Alaska,20207,NaN,NaN,3443,2740,96,NaN,NaN,12,13,66.7,0.2
Alabama,208637,176355.0,32282.0,10860,4268,3201,2958.0,243.0,195,65,31.7,0.6
Arkansas,126197,NaN,NaN,10385,4187,2126,NaN,NaN,100,70,49.2,0.5
American Samoa,3,NaN,NaN,3,5,0,NaN,NaN,0,0,0.8,0.0
Arizona,265163,258237.0,6926.0,14530,3697,6228,5786.0,442.0,169,86,28.9,0.3

In [3]:
# Import geopandas package
import geopandas as gpd
# Read in shapefile and examine data
contiguous_usa = gpd.read_file('shapefiles/cb_2018_us_state_20m.shp')

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,24,01714934,0400000US24,24,MD,Maryland,00,25151100280,6979966958,"MULTIPOLYGON (((-76.04621 38.02553, -76.00734 ..."
1,19,01779785,0400000US19,19,IA,Iowa,00,144661267977,1084180812,"POLYGON ((-96.62187 42.77925, -96.57794 42.827..."
2,10,01779781,0400000US10,10,DE,Delaware,00,5045925646,1399985648,"POLYGON ((-75.77379 39.72220, -75.75323 39.757..."
3,39,01085497,0400000US39,39,OH,Ohio,00,105828882568,10268850702,"MULTIPOLYGON (((-82.86334 41.69369, -82.82572 ..."
4,42,01779798,0400000US42,42,PA,Pennsylvania,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51964 40.987..."

In [8]:
# Merge shapefile with population data
case_states = contiguous_usa.merge(coviddata, left_on = 'NAME', right_on='State/Territory')
# Drop Alaska and Hawaii
case_states = case_states.loc[~case_states['NAME'].isin(['Alaska', 'Hawaii'])]
case_states.to_csv('datatovisualize.csv')